.header {
    height: 100px;
    background-color: #9965e9;
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    font-weight: bold;
    animation: grow .25s;
}

@keyframes grow {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }